<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:tbb="http://typo3.org/ns/LumIT/Typo3bb/ViewHelpers">
    <f:section name="Content">
        <div class="clearfix"></div>
        <div class="pull-right">
            <tbb:hasAccess key="Board.markAsRead" object="{forumCategory}">
                <f:link.action action="markAsRead" controller="Board" arguments="{all: 1}" class="btn btn-default">
                    <f:translate key="forumCategory.options.markAsRead" />
                </f:link.action>
            </tbb:hasAccess>
        </div>
        <div class="clearfix"></div>
    </f:section>
</div>