<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Default" />
    <f:section name="main">
        <f:groupedFor each="{allBoards}" groupBy="forumCategory" groupKey="forumCategory" as="boards">
            <div class="forum-category">
                <a class="section-anchor" id="forum-category-{forumCategory.uid}"></a>
                <div class="forum-category-header">
                    <h2><f:format.raw>{forumCategory.title}</f:format.raw></h2>
                </div>
                <f:render partial="Board/List" section="Content" arguments="{boards: boards}" />
            </div>
        </f:groupedFor>

        <div class="forum-forum-category-actions">
            <f:render partial="ForumCategory/Options" section="Content" arguments="{_all}" />
        </div>

        <div class="info-center">

        </div>
    </f:section>
</div>