<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:tbb="http://typo3.org/ns/LumIT/Typo3bb/ViewHelpers"

     v:schemaLocation="http://fluidtypo3.org/schemas/vhs-1.8.5.xsd">

    <f:layout name="Default" />
    <f:section name="main">
        <div class="forum-topic-posts">
            <tbb:breadcrumb rootline="{topic.rootline}"/>

            <h1><f:translate key="topic.move.headline.label" /></h1>

            <f:form action="executeMove" controller="Topic" arguments="{topic: topic}">
                <f:for each="{boards}" as="rootline" key="uid">
                    <div class="radio">
                        <label>
                            <f:form.radio name="destinationBoard" value="{uid}" checked="{topic.board.uid} == {uid}" />
                            <f:format.raw>{rootline}</f:format.raw>
                        </label>
                    </div>
                </f:for>
                <f:form.submit value="{f:translate(key: 'topic.move.submit.label')}" class="btn btn-default" />
            </f:form>
        </div>
    </f:section>
</div>