<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:tbb="http://typo3.org/ns/LumIT/Typo3bb/ViewHelpers">

    <f:layout name="Default" />
    <f:section name="main">

        <tbb:breadcrumb rootline="{board.rootline}" />

        <h1><f:translate key="topic.new.headline.label" /></h1>

        <f:render partial="FormErrors" arguments="{object:Topic}" />

        <f:form action="create" enctype="multipart/form-data" name="topic" object="{topic}">
            <f:render partial="Topic/CreateFormFields" section="Content" arguments="{_all}" />
            <f:form.submit class="btn btn-default" value="{f:translate(key: 'topic.new.submit.label')}" />
        </f:form>
    </f:section>
</div>