<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:tbb="http://typo3.org/ns/LumIT/Typo3bb/ViewHelpers">

    <f:layout name="Default" />
    <f:section name="main">
        <div class="forum-topic-post-move">
            <tbb:breadcrumb rootline="{post.rootline}"/>

            <h1><f:translate key="topic.move.headline" /></h1>
            <p><f:translate key="post.move.destinationTopic.label" />:</p>
            <div class="panel-group" id="forum-categories" role="tablist" aria-multiselectable="true">
                <f:groupedFor each="{boards}" groupBy="forumCategory" groupKey="forumCategory" as="categoryBoards">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#forum-category-{forumCategory.uid}"
                             data-parent="#forum-categories" aria-controls="forum-category-{forumCategory.uid}">
                            <f:format.htmlentitiesDecode>{forumCategory.title}</f:format.htmlentitiesDecode>
                        </div>
                        <div id="forum-category-{forumCategory.uid}" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <f:render partial="Post/Move/ListBoards" arguments="{post: post, boards: categoryBoards}" />
                            </div>
                        </div>
                    </div>
                </f:groupedFor>
            </div>
        </div>
    </f:section>
</div>