<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:tbb="http://typo3.org/ns/LumIT/Typo3bb/ViewHelpers">

<f:layout name="Default" />

<f:section name="main">

    <tbb:breadcrumb rootline="{topic.rootline}" />
    <h1><f:translate key="post.new.headline.label" arguments="{0: topic.title}" /></h1>

    <f:render partial="FormErrors" arguments="{object:Post}" />

    <f:form action="create" enctype="multipart/form-data" name="newPost" object="{newPost}">
        <f:render partial="Post/FormFields" section="Content" arguments="{_all}" />
        <f:form.submit class="btn btn-default" value="{f:translate(key: 'post.new.submit.label')}" />
    </f:form>

    <hr>

    <div class="typo3bb-post-new-previous-wrapper">
        <h3><f:translate key="post.new.previousPosts" /></h3>
        <f:for each="{previousPosts}" as="previousPost">
            <f:render partial="Post/SinglePost" section="Content" arguments="{post: previousPost, showOptions: 'false'}" />
        </f:for>
    </div>
</f:section>
</div>