<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:tbb="http://typo3.org/ns/LumIT/Typo3bb/ViewHelpers">

    <f:layout name="Default" />

    <f:section name="main">

        <h2><f:translate key="plugin.statistics.infoCenter.headline.label" /></h2>

        <h3>
            <i class="fa fa-comments-o fa-fw"></i> <f:translate key="plugin.statistics.infoCenter.latestPosts.headline.label" />
            (<f:link.page pageUid="{settings.pid.unreadPosts}"><f:translate key="plugin.statistics.infoCenter.latestPosts.unreadPostsLink" /></f:link.page>)
        </h3>
        <f:for each="{latestPosts}" as="latestPost">
            <div class="row">
                <div class="col-xs-8">
                    <f:translate key="latestPost.topic.label" />&nbsp;<f:link.action controller="Topic" action="show" pageUid="{settings.pid.forum}"
                                                                                     arguments="{topic: latestPost.topic, post: latestPost}">{latestPost.topic.title}</f:link.action>
                    <f:translate key="latestPost.author.label" />&nbsp;<f:if condition="{latestPost.author}">
                        <f:then><f:link.action controller="FrontendUser" action="show" extensionName="IglarpTemplate" pluginName="User-Profile" pageUid="{settings.pid.profile"
                                               arguments="{user: latestPost.author}">{latestPost.authorName}</f:link.action></f:then>
                        <f:else>{latestPost.authorName}</f:else>
                    </f:if>
                </div>
                <div class="col-xs-4">
                    {latestPost.crdate -> f:format.date(format: 'd.m.Y H:i')}
                </div>
            </div>
        </f:for>

        <h3><i class="fa fa-bar-chart fa-fw"></i> <f:translate key="plugin.statistics.infoCenter.statisticsSummary.headline.label" /></h3>
        <p>
            <f:translate key="plugin.statistics.infoCenter.statisticsSummary.counts" arguments="{0: postsCount, 1: topicsCount, 2: membersCount}" />.
            <f:translate key="plugin.statistics.infoCenter.statisticsSummary.newestMember" />&nbsp;<f:link.action controller="FrontendUser" action="show" extensionName="IglarpTemplate" pluginName="User-Profile" pageUid="{settings.pid.profile}"
                                                                                                             arguments="{user: newestMember}">{newestMember.displayName}</f:link.action><br>
            <f:link.page pageUid="{settings.pid.usersList}">
                <f:translate key="plugin.statistics.infoCenter.statisticsSummary.allMembers" />
            </f:link.page>
        </p>
        <p>
            <f:link.page pageUid="{settings.pid.statistics}">
                <f:translate key="plugin.statistics.infoCenter.statisticsSummary.moreStatistics" />
            </f:link.page>
        </p>

        <h3><i class="fa fa-users fa-fw"></i> <f:translate key="plugin.statistics.infoCenter.onlineUsers.headline.label" /></h3>
        <p>
            <tbb:format.csv subject="{onlineUsers}" as="author">
                <f:link.action action="show" controller="FrontendUser" extensionName="IglarpTemplate" pluginName="User-Profile" arguments="{user: author}" pageUid="{settings.pid.profile}">
                    {author.displayName}
                </f:link.action>
            </tbb:format.csv>
        </p>
    </f:section>
</div>