<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:tbb="http://typo3.org/ns/LumIT/Typo3bb/ViewHelpers"

      data-namespace-typo3-fluid="true">

<f:for each="{boards}" as="board">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" data-toggle="collapse" data-target="#board-{board.uid}"
             data-parent="" aria-controls="board-{board.uid}">
            <f:format.htmlentitiesDecode>{board.title}</f:format.htmlentitiesDecode>
        </div>
        <div id="board-{board.uid}" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <f:render partial="Post/Move/ListBoards" arguments="{post: post, boards: board.allowedSubBoards}" />
                <f:if condition="{board.allowedSubBoards}"><br><br></f:if>

                <f:for each="{board.topics}" as="destinationTopic">
                    <f:if condition="{post.topic.uid} == {destinationTopic.uid}">
                        <f:then>
                            <span class="btn btn-default btn-sm disabled"><i class="fas fa-paste fa-lg" aria-hidden="true"></i></span>
                        </f:then>
                        <f:else>
                            <f:link.action action="executeMove" controller="Post" arguments="{post: post, destination: destinationTopic}"
                                           title="{f:translate(key: 'post.move.submit')}"
                                           additionalAttributes="{aria-label: '{f:translate(key: \'post.move.submit\')}'}"
                                           class="btn btn-default btn-sm">
                                <i class="fas fa-paste fa-lg" aria-hidden="true"></i>
                            </f:link.action>
                        </f:else>
                    </f:if>
                    <f:link.action action="show" controller="Topic" arguments="{topic: destinationTopic}" target="_blank">
                        <f:format.htmlentitiesDecode>{destinationTopic.title}</f:format.htmlentitiesDecode>
                    </f:link.action><br>
                </f:for>
            </div>
        </div>
    </div>
</f:for>

</html>